<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.nwsuaf.mapper.BtDepartmentMapper">
    <resultMap id="BaseResultMap" type="cn.edu.nwsuaf.entity.BtDepartment">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="departmenttypeid" property="departmenttypeid" jdbcType="INTEGER"/>
        <result column="departmentno" property="departmentno" jdbcType="VARCHAR"/>
        <result column="departmentname" property="departmentname" jdbcType="VARCHAR"/>
        <result column="departmentshort" property="departmentshort" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, departmenttypeid, departmentno, departmentname, departmentshort
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.edu.nwsuaf.entity.BtDepartmentExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from BT_DEPARTMENT
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from BT_DEPARTMENT
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from BT_DEPARTMENT
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="cn.edu.nwsuaf.entity.BtDepartmentExample">
        delete from BT_DEPARTMENT
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="cn.edu.nwsuaf.entity.BtDepartment">
    insert into BT_DEPARTMENT (id, departmenttypeid, departmentno, 
      departmentname, departmentshort)
    values (#{id,jdbcType=INTEGER}, #{departmenttypeid,jdbcType=INTEGER}, #{departmentno,jdbcType=VARCHAR}, 
      #{departmentname,jdbcType=VARCHAR}, #{departmentshort,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="cn.edu.nwsuaf.entity.BtDepartment">
        insert into BT_DEPARTMENT
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="departmenttypeid != null">
                departmenttypeid,
            </if>
            <if test="departmentno != null">
                departmentno,
            </if>
            <if test="departmentname != null">
                departmentname,
            </if>
            <if test="departmentshort != null">
                departmentshort,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="departmenttypeid != null">
                #{departmenttypeid,jdbcType=INTEGER},
            </if>
            <if test="departmentno != null">
                #{departmentno,jdbcType=VARCHAR},
            </if>
            <if test="departmentname != null">
                #{departmentname,jdbcType=VARCHAR},
            </if>
            <if test="departmentshort != null">
                #{departmentshort,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="cn.edu.nwsuaf.entity.BtDepartmentExample" resultType="java.lang.Integer">
        select count(*) from BT_DEPARTMENT
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update BT_DEPARTMENT
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.departmenttypeid != null">
                departmenttypeid = #{record.departmenttypeid,jdbcType=INTEGER},
            </if>
            <if test="record.departmentno != null">
                departmentno = #{record.departmentno,jdbcType=VARCHAR},
            </if>
            <if test="record.departmentname != null">
                departmentname = #{record.departmentname,jdbcType=VARCHAR},
            </if>
            <if test="record.departmentshort != null">
                departmentshort = #{record.departmentshort,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update BT_DEPARTMENT
        set id = #{record.id,jdbcType=INTEGER},
        departmenttypeid = #{record.departmenttypeid,jdbcType=INTEGER},
        departmentno = #{record.departmentno,jdbcType=VARCHAR},
        departmentname = #{record.departmentname,jdbcType=VARCHAR},
        departmentshort = #{record.departmentshort,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="cn.edu.nwsuaf.entity.BtDepartment">
        update BT_DEPARTMENT
        <set>
            <if test="departmenttypeid != null">
                departmenttypeid = #{departmenttypeid,jdbcType=INTEGER},
            </if>
            <if test="departmentno != null">
                departmentno = #{departmentno,jdbcType=VARCHAR},
            </if>
            <if test="departmentname != null">
                departmentname = #{departmentname,jdbcType=VARCHAR},
            </if>
            <if test="departmentshort != null">
                departmentshort = #{departmentshort,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.edu.nwsuaf.entity.BtDepartment">
    update BT_DEPARTMENT
    set departmenttypeid = #{departmenttypeid,jdbcType=INTEGER},
      departmentno = #{departmentno,jdbcType=VARCHAR},
      departmentname = #{departmentname,jdbcType=VARCHAR},
      departmentshort = #{departmentshort,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>