<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.nwsuaf.mapper.BtYearMapper">
    <resultMap id="BaseResultMap" type="cn.edu.nwsuaf.entity.BtYear">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="yearno" property="yearno" jdbcType="VARCHAR"/>
        <result column="yearname" property="yearname" jdbcType="VARCHAR"/>
        <result column="year" property="year" jdbcType="DATE"/>
        <result column="status" property="status" jdbcType="BIT"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, yearno, yearname, year, status
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.edu.nwsuaf.entity.BtYearExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from BT_YEAR
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from BT_YEAR
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from BT_YEAR
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="cn.edu.nwsuaf.entity.BtYearExample">
        delete from BT_YEAR
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="cn.edu.nwsuaf.entity.BtYear">
    insert into BT_YEAR (id, yearno, yearname, 
      year, status)
    values (#{id,jdbcType=INTEGER}, #{yearno,jdbcType=VARCHAR}, #{yearname,jdbcType=VARCHAR}, 
      #{year,jdbcType=DATE}, #{status,jdbcType=BIT})
  </insert>
    <insert id="insertSelective" parameterType="cn.edu.nwsuaf.entity.BtYear">
        insert into BT_YEAR
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="yearno != null">
                yearno,
            </if>
            <if test="yearname != null">
                yearname,
            </if>
            <if test="year != null">
                year,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="yearno != null">
                #{yearno,jdbcType=VARCHAR},
            </if>
            <if test="yearname != null">
                #{yearname,jdbcType=VARCHAR},
            </if>
            <if test="year != null">
                #{year,jdbcType=DATE},
            </if>
            <if test="status != null">
                #{status,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="cn.edu.nwsuaf.entity.BtYearExample" resultType="java.lang.Integer">
        select count(*) from BT_YEAR
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update BT_YEAR
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.yearno != null">
                yearno = #{record.yearno,jdbcType=VARCHAR},
            </if>
            <if test="record.yearname != null">
                yearname = #{record.yearname,jdbcType=VARCHAR},
            </if>
            <if test="record.year != null">
                year = #{record.year,jdbcType=DATE},
            </if>
            <if test="record.status != null">
                status = #{record.status,jdbcType=BIT},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update BT_YEAR
        set id = #{record.id,jdbcType=INTEGER},
        yearno = #{record.yearno,jdbcType=VARCHAR},
        yearname = #{record.yearname,jdbcType=VARCHAR},
        year = #{record.year,jdbcType=DATE},
        status = #{record.status,jdbcType=BIT}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="cn.edu.nwsuaf.entity.BtYear">
        update BT_YEAR
        <set>
            <if test="yearno != null">
                yearno = #{yearno,jdbcType=VARCHAR},
            </if>
            <if test="yearname != null">
                yearname = #{yearname,jdbcType=VARCHAR},
            </if>
            <if test="year != null">
                year = #{year,jdbcType=DATE},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.edu.nwsuaf.entity.BtYear">
    update BT_YEAR
    set yearno = #{yearno,jdbcType=VARCHAR},
      yearname = #{yearname,jdbcType=VARCHAR},
      year = #{year,jdbcType=DATE},
      status = #{status,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>