<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.nwsuaf.mapper.HelpprocessMapper">
    <resultMap id="BaseResultMap" type="cn.edu.nwsuaf.entity.Helpprocess">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="helpid" property="helpid" jdbcType="INTEGER"/>
        <result column="helpformid" property="helpformid" jdbcType="INTEGER"/>
        <result column="helpdate" property="helpdate" jdbcType="DATE"/>
        <result column="helpplace" property="helpplace" jdbcType="VARCHAR"/>
        <result column="problemanalyse" property="problemanalyse" jdbcType="VARCHAR"/>
        <result column="stageresult" property="stageresult" jdbcType="VARCHAR"/>
        <result column="effect" property="effect" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="cn.edu.nwsuaf.entity.Helpprocess" extends="BaseResultMap">
        <result column="measures" property="measures" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, helpid, helpformid, helpdate, helpplace, problemanalyse, stageresult, effect
  </sql>
    <sql id="Blob_Column_List">
    measures
  </sql>
    <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs"
            parameterType="cn.edu.nwsuaf.entity.HelpprocessExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from HELPPROCESS
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.edu.nwsuaf.entity.HelpprocessExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from HELPPROCESS
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from HELPPROCESS
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from HELPPROCESS
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="cn.edu.nwsuaf.entity.HelpprocessExample">
        delete from HELPPROCESS
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="cn.edu.nwsuaf.entity.Helpprocess">
    insert into HELPPROCESS (id, helpid, helpformid, 
      helpdate, helpplace, problemanalyse, 
      stageresult, effect, measures
      )
    values (#{id,jdbcType=INTEGER}, #{helpid,jdbcType=INTEGER}, #{helpformid,jdbcType=INTEGER}, 
      #{helpdate,jdbcType=DATE}, #{helpplace,jdbcType=VARCHAR}, #{problemanalyse,jdbcType=VARCHAR}, 
      #{stageresult,jdbcType=VARCHAR}, #{effect,jdbcType=VARCHAR}, #{measures,jdbcType=LONGVARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="cn.edu.nwsuaf.entity.Helpprocess">
        insert into HELPPROCESS
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="helpid != null">
                helpid,
            </if>
            <if test="helpformid != null">
                helpformid,
            </if>
            <if test="helpdate != null">
                helpdate,
            </if>
            <if test="helpplace != null">
                helpplace,
            </if>
            <if test="problemanalyse != null">
                problemanalyse,
            </if>
            <if test="stageresult != null">
                stageresult,
            </if>
            <if test="effect != null">
                effect,
            </if>
            <if test="measures != null">
                measures,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="helpid != null">
                #{helpid,jdbcType=INTEGER},
            </if>
            <if test="helpformid != null">
                #{helpformid,jdbcType=INTEGER},
            </if>
            <if test="helpdate != null">
                #{helpdate,jdbcType=DATE},
            </if>
            <if test="helpplace != null">
                #{helpplace,jdbcType=VARCHAR},
            </if>
            <if test="problemanalyse != null">
                #{problemanalyse,jdbcType=VARCHAR},
            </if>
            <if test="stageresult != null">
                #{stageresult,jdbcType=VARCHAR},
            </if>
            <if test="effect != null">
                #{effect,jdbcType=VARCHAR},
            </if>
            <if test="measures != null">
                #{measures,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="cn.edu.nwsuaf.entity.HelpprocessExample" resultType="java.lang.Integer">
        select count(*) from HELPPROCESS
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update HELPPROCESS
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.helpid != null">
                helpid = #{record.helpid,jdbcType=INTEGER},
            </if>
            <if test="record.helpformid != null">
                helpformid = #{record.helpformid,jdbcType=INTEGER},
            </if>
            <if test="record.helpdate != null">
                helpdate = #{record.helpdate,jdbcType=DATE},
            </if>
            <if test="record.helpplace != null">
                helpplace = #{record.helpplace,jdbcType=VARCHAR},
            </if>
            <if test="record.problemanalyse != null">
                problemanalyse = #{record.problemanalyse,jdbcType=VARCHAR},
            </if>
            <if test="record.stageresult != null">
                stageresult = #{record.stageresult,jdbcType=VARCHAR},
            </if>
            <if test="record.effect != null">
                effect = #{record.effect,jdbcType=VARCHAR},
            </if>
            <if test="record.measures != null">
                measures = #{record.measures,jdbcType=LONGVARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExampleWithBLOBs" parameterType="map">
        update HELPPROCESS
        set id = #{record.id,jdbcType=INTEGER},
        helpid = #{record.helpid,jdbcType=INTEGER},
        helpformid = #{record.helpformid,jdbcType=INTEGER},
        helpdate = #{record.helpdate,jdbcType=DATE},
        helpplace = #{record.helpplace,jdbcType=VARCHAR},
        problemanalyse = #{record.problemanalyse,jdbcType=VARCHAR},
        stageresult = #{record.stageresult,jdbcType=VARCHAR},
        effect = #{record.effect,jdbcType=VARCHAR},
        measures = #{record.measures,jdbcType=LONGVARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update HELPPROCESS
        set id = #{record.id,jdbcType=INTEGER},
        helpid = #{record.helpid,jdbcType=INTEGER},
        helpformid = #{record.helpformid,jdbcType=INTEGER},
        helpdate = #{record.helpdate,jdbcType=DATE},
        helpplace = #{record.helpplace,jdbcType=VARCHAR},
        problemanalyse = #{record.problemanalyse,jdbcType=VARCHAR},
        stageresult = #{record.stageresult,jdbcType=VARCHAR},
        effect = #{record.effect,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="cn.edu.nwsuaf.entity.Helpprocess">
        update HELPPROCESS
        <set>
            <if test="helpid != null">
                helpid = #{helpid,jdbcType=INTEGER},
            </if>
            <if test="helpformid != null">
                helpformid = #{helpformid,jdbcType=INTEGER},
            </if>
            <if test="helpdate != null">
                helpdate = #{helpdate,jdbcType=DATE},
            </if>
            <if test="helpplace != null">
                helpplace = #{helpplace,jdbcType=VARCHAR},
            </if>
            <if test="problemanalyse != null">
                problemanalyse = #{problemanalyse,jdbcType=VARCHAR},
            </if>
            <if test="stageresult != null">
                stageresult = #{stageresult,jdbcType=VARCHAR},
            </if>
            <if test="effect != null">
                effect = #{effect,jdbcType=VARCHAR},
            </if>
            <if test="measures != null">
                measures = #{measures,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.edu.nwsuaf.entity.Helpprocess">
    update HELPPROCESS
    set helpid = #{helpid,jdbcType=INTEGER},
      helpformid = #{helpformid,jdbcType=INTEGER},
      helpdate = #{helpdate,jdbcType=DATE},
      helpplace = #{helpplace,jdbcType=VARCHAR},
      problemanalyse = #{problemanalyse,jdbcType=VARCHAR},
      stageresult = #{stageresult,jdbcType=VARCHAR},
      effect = #{effect,jdbcType=VARCHAR},
      measures = #{measures,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="cn.edu.nwsuaf.entity.Helpprocess">
    update HELPPROCESS
    set helpid = #{helpid,jdbcType=INTEGER},
      helpformid = #{helpformid,jdbcType=INTEGER},
      helpdate = #{helpdate,jdbcType=DATE},
      helpplace = #{helpplace,jdbcType=VARCHAR},
      problemanalyse = #{problemanalyse,jdbcType=VARCHAR},
      stageresult = #{stageresult,jdbcType=VARCHAR},
      effect = #{effect,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>