<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.nwsuaf.mapper.OtherwarninglevelMapper">
    <resultMap id="BaseResultMap" type="cn.edu.nwsuaf.entity.Otherwarninglevel">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="warningtypeid" property="warningtypeid" jdbcType="INTEGER"/>
        <result column="warninglevelid" property="warninglevelid" jdbcType="INTEGER"/>
        <result column="standard" property="standard" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, warningtypeid, warninglevelid, standard, remark
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap"
            parameterType="cn.edu.nwsuaf.entity.OtherwarninglevelExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from OTHERWARNINGLEVEL
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from OTHERWARNINGLEVEL
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from OTHERWARNINGLEVEL
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="cn.edu.nwsuaf.entity.OtherwarninglevelExample">
        delete from OTHERWARNINGLEVEL
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="cn.edu.nwsuaf.entity.Otherwarninglevel">
    insert into OTHERWARNINGLEVEL (id, warningtypeid, warninglevelid, 
      standard, remark)
    values (#{id,jdbcType=INTEGER}, #{warningtypeid,jdbcType=INTEGER}, #{warninglevelid,jdbcType=INTEGER}, 
      #{standard,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="cn.edu.nwsuaf.entity.Otherwarninglevel">
        insert into OTHERWARNINGLEVEL
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="warningtypeid != null">
                warningtypeid,
            </if>
            <if test="warninglevelid != null">
                warninglevelid,
            </if>
            <if test="standard != null">
                standard,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="warningtypeid != null">
                #{warningtypeid,jdbcType=INTEGER},
            </if>
            <if test="warninglevelid != null">
                #{warninglevelid,jdbcType=INTEGER},
            </if>
            <if test="standard != null">
                #{standard,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="cn.edu.nwsuaf.entity.OtherwarninglevelExample"
            resultType="java.lang.Integer">
        select count(*) from OTHERWARNINGLEVEL
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update OTHERWARNINGLEVEL
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.warningtypeid != null">
                warningtypeid = #{record.warningtypeid,jdbcType=INTEGER},
            </if>
            <if test="record.warninglevelid != null">
                warninglevelid = #{record.warninglevelid,jdbcType=INTEGER},
            </if>
            <if test="record.standard != null">
                standard = #{record.standard,jdbcType=VARCHAR},
            </if>
            <if test="record.remark != null">
                remark = #{record.remark,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update OTHERWARNINGLEVEL
        set id = #{record.id,jdbcType=INTEGER},
        warningtypeid = #{record.warningtypeid,jdbcType=INTEGER},
        warninglevelid = #{record.warninglevelid,jdbcType=INTEGER},
        standard = #{record.standard,jdbcType=VARCHAR},
        remark = #{record.remark,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="cn.edu.nwsuaf.entity.Otherwarninglevel">
        update OTHERWARNINGLEVEL
        <set>
            <if test="warningtypeid != null">
                warningtypeid = #{warningtypeid,jdbcType=INTEGER},
            </if>
            <if test="warninglevelid != null">
                warninglevelid = #{warninglevelid,jdbcType=INTEGER},
            </if>
            <if test="standard != null">
                standard = #{standard,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.edu.nwsuaf.entity.Otherwarninglevel">
    update OTHERWARNINGLEVEL
    set warningtypeid = #{warningtypeid,jdbcType=INTEGER},
      warninglevelid = #{warninglevelid,jdbcType=INTEGER},
      standard = #{standard,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>